body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.formaprijava {
  width: 500px;
  margin-top: 50px;
  margin-left: 680px;
}

#btn_log {
  margin-left: 170px;
  width: 160px;
}

label {
  margin-left: 210px;
}

.polja {
  margin-bottom: 30px;
}

#tekst_login {
  margin-top: 20px;
  margin-left: 680px;
}

#formacontact_div {
  margin-top: 50px;
  margin-left: 650px;
  width: 550px;
}

#btn_send {
  width: 120px;
  margin-left: 200px;
}

#contact-us {
  margin-top: 50px;
  margin-left: 800px;
}

#login {
  margin-left: 870px;
  margin-top: 150px;
}